<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url('templates/assets/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url('templates/site/assets/css/site.css') }}">
</head>
<body>
    {% include 'header.html' %}

    {% block conteudo %} {% endblock %}

    {% include "footer.html" %}

    <script src="{{ url('templates/assets/js/scripts.js') }}"></script>
    <script src="{{ url('templates/site/assets/js/site.js') }}"></script>
</body>
</html>