<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="http://localhost/unset-php/sobre">Sobre</a>
                {# <a href="http://localhost:8888/unset-php/sobre">Sobre</a> #}
            </li>
        </ul>
    </div>
    <h1>{{titulo}}</h1>
    <h1>{{resumirTexto(titulo, 5)}}</h1>
    <p>{{subtitulo}}</p>
    <p>{{url('index')}}</p>
    <p>{{saudacao()}}</p>
</body>
</html>