{% extends 'base.html' %}

{% block conteudo %}
    
    <div class="container my-5">
        <div class="row">   
            {% for post in posts %}
                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{resumirTexto(post.text, 150)}}</p>
                        </div>
                    </div>
                </div>   
            {% endfor %}
        </div>   
    </div>

{% endblock %}